#!/usr/bin/make -f  
%:  
	dh $@ --with systemd --parallel


override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info -l$(shell pwd)/build/cli/target/.libs/:$(shell pwd)/build/cli/.libs/

override_dh_auto_build:
	dpkg -i /sonic/target/debs/bookworm/libyang_1.0.73_amd64.deb /sonic/target/debs/bookworm/libyang-dev_1.0.73_amd64.deb /sonic/target/debs/bookworm/libyang-cpp_1.0.73_amd64.deb || true
	dh_auto_build
